.container{
    width: 80%;
    margin: 0 auto;
    font-family:Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h1{
    text-align: center;
    margin-top: 20px;
    color: rgb(17, 192, 69);
}
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td{
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 20px;
}
th{
    background-color: #f2f2f2;
}
tr:hover{
    background-color: #f5f5f5;
}
